@model IEnumerable<FamilyManagerWeb.Models.User>

@{
    Layout = null;
}

<div class="pageContent">
	<table class="table" layoutH="0" targetType="dialog" width="100%">
		<thead>
			<tr>
				<th width="100">用户ID</th>	
                <th width="150">用户账号</th>	
                <th width="100">用户姓名</th>	
                <th width="100">性别</th>				
				<th width="80">查找带回</th>
			</tr>
		</thead>
		<tbody>
            @foreach (var item in Model)
            {
                <tr>
				    <td>@item.ID</td>		
                    <td>@item.cUserCode</td>	
                    <td>@item.cUserName</td>		
                    <td>@item.cUserSex</td>	
				    <td>
					    <a class="btnSelect" href="javascript:$.bringBack({UserID:'@item.ID',cUserCode:'@item.cUserCode', cUserName:'@item.cUserName'})" title="查找带回">选择</a>
				    </td>
			    </tr>	
            }
					
		</tbody>
	</table>
</div>
