@model IEnumerable<FamilyManagerWeb.Models.UserBank>
@{
    Layout = null;
}


<div class="pageContent">
	<table class="table" layoutH="0" targetType="dialog" width="100%">
		<thead>
			<tr>
				<th width="100">银行名称</th>	
                <th width="150">银行账号</th>	
                <th width="100">银行卡类型</th>	
                <th width="100">银行卡余额</th>				
				<th width="80">查找带回</th>
			</tr>
		</thead>
		<tbody>
            @foreach (var item in Model)
            {
                <tr>
				    <td>@item.BankName</td>		
                    <td>@item.BankNo</td>	
                    <td>@item.BankCardType</td>		
                    <td>@item.NowMoney</td>	
				    <td>
					    <a class="btnSelect" href="javascript:$.bringBack({UserBankID:'@item.ID',BankID:'@item.BankID', BankName:'@item.BankName',BankNo:'@item.BankNo'})" title="查找带回">选择</a>
				    </td>
			    </tr>	
            }
					
		</tbody>
	</table>
</div>
